doc/html
doc/jevois.tag
pkgconfig/jevois.pc
doc/snip/*
*~
Contrib/.installed
Contrib/onnxruntime
Contrib/tensorflow
Contrib/threadpool
Contrib/imgui/.github
/hbuild/
/pbuild/
/phbuild/
/ppbuild/
/ppdbuild/
/jvpkg/
