body, table, div, p, dl, ul, li, tr, td {
    font-family: "Open Sans", Helvetica, "Lucida Grande", Verdana, Geneva, Arial, sans-serif;
    line-height: 1.6em;
    font-weight: 400;
}

th, td { padding: 10px; }

table.modinfo {
    border-collapse: collapse;
    background-color: #5050a0;
    color: white;
    border-spacing: 10px;
    width: 100%;
}

td.modinfo {
    padding: 10px;
}

table.modinfotop {
    border-collapse: collapse;
    background-color: #fafafa;
    border-spacing: 2px;
    width: 100%;
}

td.modinfoname { vertical-align: middle; font-size: 200%; font-weight: 700; padding: 0px; }

td.modinfosynopsis { vertical-align: middle; font-size: 130%; font-weight: 200; padding: 0px; }

table.modinfoauth {
    border-collapse: collapse;
    background-color: #f8f8ff;
    padding: 10px;
    width: 100%;
}

td.modinfodesc { color: black; background-color: #fafafa; line-height: 175%; padding: 10px; }

table.modinfoshots {
    background-color: #f0f0ff;
    padding: 30px;
    width: 100%;
}

td.modinfoshots {
    padding: 30px;
}

table.modinfopar {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

th.modinfopar {
    background-color: #e8e8ff;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

td.modinfopar {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

tr.modinfopar:nth-child(even) { background-color: #f2f2ff }
tr.modinfopar:nth-child(odd) { background-color: #f8f8ff }

table.modinfomisc {
    border-collapse: collapse;
    background-color: #f2f2ff;
    width: 100%;
}

th.modinfomisc {
    text-align: left;
    padding: 5px;
}

td.modinfomisc {
    text-align: left;
    padding: 5px;
}

table.videomapping {
    border-collapse: collapse;
    background-color: #f0f0ff;
    color: black;
    border-spacing: 0px;
    width: 100%;
}

td.videomapping {
    text-align: left;
    padding: 2px;
}

em {
    color: blue;
}


code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #e9e2e4;
    border-radius: 4px
}

kbd {
    padding: 2px 4px;
      font-size: 90%;
      color: #fff;
      background-color: #333;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
}

kbd kbd {
    padding:0;
    font-size:100%;
    font-weight:700;
    -webkit-box-shadow:none;
    box-shadow:none
}

