
/*
TD.md { background-color: #aae0ff }
FONT.keyword       { color: #008000 }
FONT.keywordtype   { color: #604020 }
FONT.keywordflow   { color: #e08000 }
FONT.comment       { color: #800000 }
FONT.preprocessor  { color: #806020 }
FONT.stringliteral { color: #002080 }
FONT.charliteral   { color: #008080 }
*/

body, table, div, p, dl, ul, li, tr, td {
    font-family: "Open Sans", Helvetica, "Lucida Grande", Verdana, Geneva, Arial, sans-serif;
    line-height: 1.6em;
    font-weight: 400;
}

/* The iLab CSS for doxygen */

div.title {
    color: navy;
    font-weight: 500;
    font-size: 200%;
}

/* @group Heading Levels */

h1 {    color: navy;
        background: #e0e0ff;
        font-size: 170%;
        font-weight: 500;
        padding: 0.5em;
}

h2 {    color: navy;
        background: #f0f0FF;
        font-size: 155%;
        font-weight: 500;
        padding: 0.4em;
}

h3 {    color: black;
        background: #f8f8FF;
        font-size: 145%;
        font-weight: 500;
        padding: 0.3em;
}

h4 {    color: black;
        font-size: 135%;
        padding: 0.2em;
        font-weight: 500;
	border-bottom: 2px solid #AAD0FF;
}

h5 {    color: black;
        font-size: 125%;
        padding: 0.1em;
        font-weight: 500;
	border-bottom: 1px solid #AAD0FF;
}

/*
h1,h2,h3,h4,h5,h6 {
        font-family: Helvetica, Arial, Verdana, sans-serif;
        font-weight: 300;
        margin-left: 0%;
        margin-right: 0%;
}
*/





code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
}

em {
    color: #208020;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #e9e2e4;
    border-radius: 4px
}

strong.jvversion {
    padding: 2px 4px;
    color: OrangeRed;
    background-color: #f0f0f0;
    border-radius: 4px
}

strong.jvhostplatform {
    padding: 2px 4px;
    color: MediumBlue;
    background-color: #f0f0f0;
    border-radius: 4px
}

strong.jvmod {
    padding: 2px 4px;
    color: Blue;
    background-color: #f0f0f0;
    border-radius: 4px
}

strong.jvinv {
    padding: 2px 4px;
    color: Blue;
    background-color: #f0f0f0;
    border-radius: 4px
}


/* use this to show a picture with a play button on top of it:
   <div class="videothumb">
     <img src="http://blah.jpg" alt="Video thumbnail" />
   </div>

  from: https://codepen.io/martinkrulltott/pen/xwrXwR */
.videothumb {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 30px;
}
.videothumb:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 50px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.videothumb:hover:before {
    color: #eee;
}

